@import "../../utils/mixins.scss";

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;

    &__titleGlass {
        margin-top: 80px;
        @include glass-container;
        border-radius: 50px;
        padding: 25px 30px;
    }

    &__title {
        font-size: clamp(20px, 3vw, 40px);
        background: linear-gradient(
            48deg,
            rgba(167, 23, 205, 1) 0%,
            rgba(255, 255, 255, 1) 95%
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;

        @media screen and (max-width: 1024px) {
            font-size: 25px;
        }
    }

    &__subtitle {
        font-size: clamp(16px, 1vw, 20px);
        margin-top: 40px;

        @media screen and (max-width: 1024px) {
            font-size: 15px;
            margin-top: 30px;
        }

        @media screen and (max-width: 768px) {
            font-size: 13px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    &__cards {
        margin-top: 75px;
        margin-bottom: 90px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 80px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__containerBackground {
        @include background-image;
        border-radius: 20px;
        padding: 20px;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.1);
        }
    }

    &__cardDescription {
        display: flex;
        align-items: center;
        flex-direction: column;
        @include glass-container;
        border-radius: 14px;
        padding: 20px 0;
    }

    &__logo {
        height: clamp(70px, 5vw, 150px);

        @media screen and (max-width: 1024px) {
            height: 90px;
        }
    }

    &__titleLogo {
        font-size: 20px;
        margin-top: 20px;
        font-weight: bold;
        cursor: default;

        @media screen and (max-width: 1024px) {
            font-size: 15px;
        }
    }
}
