@import "../../utils/mixins.scss";

.info {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 35px 220px;
        @include glass-container;
      }

      &__bubble {
        display: flex;
        align-items: center;
        font-size: 18px;
        @include glass-container;
        padding: 30px;
        border-radius: 40px;
      }

      &__bubble i {
        margin-right: 20px;
      }
}

.fa-location-dot {
    color: red;
  }
  
  .fa-envelope {
    color: #f0c700;
  }
  
  .fa-check {
    color: greenyellow;
  }
  