@import "../../utils/mixins.scss";

.glass-container {
    cursor: pointer;
    display: inline-block;
    @include glass-container;
    border-radius: 20px;
    padding: 20px;
    max-width: 615px;
    transition: transform 0.3s ease;
}

.glass-container:hover {
    z-index: 2;
    transform: scale(1.1);

    @media screen and (max-width: 375px) {
        transform: scale(1);
    }
}

.project__img {
    height: 270px;
    width: 100%;
    object-fit: cover;
    border-radius: 14px;

    @media screen and (max-width: 1024px) {
        height: 200px;
        object-fit: cover;
    }
}
