@import '../../utils/mixins.scss';

.glass-container {
    cursor: pointer;
    display: inline-block;
    @include glass-container;
    border-radius: 20px;
    padding: 20px;
    max-width: 615px;
    transition: transform 0.3s ease;
}

.glass-container:hover {
    z-index: 2;
    transform: scale(1.1);

}

.project__img {
    height: 270px;
    width: 100%;
    object-fit: fill;
    border-radius: 14px;
}