.heroBanner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 90px 220px 120px 220px;

}

.heroBanner__name {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.heroBanner__job {
    font-size: 65px;
    font-weight: bold;
    background: linear-gradient(48deg, rgba(167, 23, 205, 1) 0%, rgba(255, 255, 255, 1) 63%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
    line-height: 70px;
}

.heroBanner__subtitle {
    font-size: 18px;
    margin-bottom: 40px;
}

.heroBanner__picture {
    height: 30em;
    border-radius: 30px;
    border: 2px solid #e303fc;
    margin-right: 60px;
}

.heroBanner__socialContainer {
    display: flex;
    align-items: center;
}

.heroBanner__cv {
    display: flex;
    border: 2px solid purple;
    padding: 20px 35px;
    border-radius: 30px;
    letter-spacing: 1px;

}

.fa-download {
    margin-left: 10px;
}

.heroBanner__social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    border: 2px solid purple;
    height: 55px;
    width: 55px;
    border-radius: 50px;
}