.heroBanner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 220px 155px 220px;
    max-width: 1440px;
    width: 100vw;
}

.heroBanner__name {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.heroBanner__job {
    font-size: 65px;
    font-weight: bold;
    background: linear-gradient(48deg, rgba(167, 23, 205, 1) 0%, rgba(255, 255, 255, 1) 63%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
    line-height: 70px;
}

.heroBanner__subtitle {
    font-size: 18px;
}

.heroBanner__glassPicture {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 25px;
    border-radius: 30px;
}

.heroBanner__picture {
    height: 30em;
    border-radius: 20px;
}

.heroBanner__socialContainer {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px;
}


.heroBanner__social {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/background/background-projects.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 70px;
    border-radius: 50px;
}


.linkedin, .github {
    font-weight: bold;
    margin-right: 12px;
}