@import "../../utils/mixins.scss";

.modal {
    max-width: 1440px;
    height: auto;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 30px;

    &__carousel {
        position: relative;
        border-radius: 14px;
        height: 400px;

        &__img {
            border-radius: 14px;
            height: 100%;
            width: 100%;
            object-fit: fill;
        }
    }

    &__description {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
            font-weight: bold;
            font-size: 20px;
        }

        &__techIcon {
            height: 35px;
            margin-left: 10px;
        }

        &__text {
            margin: 40px 0;
            line-height: 24px;
            font-size: 17px;
        }

        &__buttonsContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__closeContainer {
            @include background-image;
            border-radius: 50px;
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            padding: 25px 50px;
            font-weight: bold;
            cursor: pointer;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

        &__btnGithub {
            @include background-image;
            border-radius: 50px;
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            padding: 25px 40px;
            font-weight: bold;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.arrow {
    position: absolute;
    top: 50%;
    height: 30px;
    transform: translate(0%, -50%);
    cursor: pointer;
}

.left {
    left: 20px;
}

.right {
    right: 20px;
}
