header {
  background-color: black;
  padding: 20px 220px 20px 220px;
}

.heroBanner__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/background/background-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.a-propos {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  overflow: hidden;
}

.a-propos__header {
  display: flex;
  align-items: center;
  margin: 60px 0 41px 0;
}

.a-propos__title {
  font-size: 45px;
  font-weight: bold;
  background: rgb(167, 23, 205);
  background: linear-gradient(48deg, rgba(167, 23, 205, 1) 0%, rgba(255, 255, 255, 1) 91%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-right: 30px;
}

.a-propos__picture {
  height: 150px;
}

.a-propos__content {
  margin: 0 220px 100px 220px;
  line-height: 30px;
  font-size: 18px;
}

.projets {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/background/backgroun-projects.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.projet-title-glass {
  margin-top: 80px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 25px 30px;
}

.projets__title {
  font-size: 40px;
  font-weight: bold;
  background: rgb(167, 23, 205);
  background: linear-gradient(48deg, rgba(167, 23, 205, 1) 0%, rgba(255, 255, 255, 1) 87%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: default;
}

.projets__subtitle {
  font-size: 18px;
  margin-top: 40px;
}

.projets__cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 90px 220px;
  max-width: 1440px;
}